<div class="well">
  <%= image_tag("wechat_logo.png", class: 'list_image') %>
  <h1>Welcome to WeChat Administrative Console</h1>
  <h3>Admin Login</h3>

  <%= render 'layouts/admin_widget' %>
</div>
<br>