<% if user_signed_in? %>
    <div class="frame">
      <h1> Send a Message</h1>
      <form action="/home/send_message" id="messageform">
        <br/>
        <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
        <input type="hidden" name="userid" value=<%=@userid%>> </input>
        <label>To Users</label> <br /><input type="text" name="tousers"/>
        <br/>
        <label>To Groups</label> <br /><input type="text" name="togroups"/>
        <br/>
        <br/>
        <textarea name="message" rows="3" cols="30" form="messageform" placeholder="Enter message here..."></textarea>
        <br/>
        <br/>
        <input type="submit" value="Send" formmethod="post", class="btn btn-success"/><br />
      </form>
      <br/>
      <%= link_to "Back to Main Page", '/', class:"btn btn-info" %>
    </div>

<% else %>
    <p>You are not signed in.</p>
    <%= link_to 'Login', new_user_session_path, class: "btn btn-info" %>
<% end %>