@import "bootstrap-sprockets";
@import "bootstrap";

.well {
  background-color: white;
  border: 2px solid #73AD21;
  margin: 0 auto;
}

.list_image {
  float: left;
  width: 190px;
  height:190px;
  padding: 20px;
}

.frame {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 350px;
  margin: 0 auto;
}

.frame input[type="text"],
.frame input[type="email"],
.frame input[type="password"],
.frame1 input[type="text"],
.frame1 input[type="email"],
.frame1 input[type="password"],
p input[type="text"]{
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 5px 7px;
}

.actions {
  margin-bottom: 10px;
}

.frame1 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.frame3 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}

.spaces {
  margin-top: 80px;
}

.center {
  margin: 0 auto;
}

.rcorners {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 50%;
  height: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#panel1.list-group-item {
  background-color: #f5f5f5;
  border: 0px;
}

#panel2.list-group-item {
  background-color: #f5f5f5;
  border: 0px;
}